<% include head %>
<% include usersNavbar %>

<body>
    <h1><%= first_name %>'s Trips</h1>
    <div class='container'>
            <div class='row' style="display: flex">
                <% userTrips.forEach((trip, i) => { %>
                    <div class="card mb-4 col-11 col-md-5 col-lg-3">
                        <img src="<%= trip.picture %>" class="img-thumbnail card-img-top" alt="Trip Image" style='width: 100%'>
                        <div class="card-body">
                            <h5 class="card-title"><%=trip.name%></h5>
                            <p class="card-text"><%=trip.description%></p>
                            <a href="/users/trips/<%=trip.id%>" class="btn btn-primary">Go To Trip</a>
                        </div>
                    </div>
                
                    <!-- <div class="col col-12 card">
                    <div class="row">
                        <div class="col col-4 imageCity">
                            <div class="trip-image">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/President_Barack_Obama.jpg/480px-President_Barack_Obama.jpg">
                            </div>
                            <h5><%= trip.city %>, <%= trip.country %></h5>
                        </div>
                        <div class="col col-8 blurb">
                            <h4 class="separator-left"><%= trip.name %></h4>
                            <p><%= trip.description %></p>
                        </div>
                    </div>
                </div>  -->
                <% }) %>       
            </div>
    </div>
</body>