<% include head %>
<% include usersNavbar %>

<body>
    <div class="row" style='display: flex; justify-content: space-around'>

    <div class='col-11 col-lg-8 content'>
        <div class="col col-12 card">
            <div class="row">
                <div class="col col-4 imageCity">
                    <div class="trip-image">
                        <img src="<%= tripData.picture %>">
                    </div>
                    <h5><%= tripData.city %>, <%= tripData.country %></h5>
                </div>
                <div class="col col-8 blurb">
                    <h4 class="separator-left"><%= tripData.name %></h4>
                    <p><%= tripData.description %></p>
                    <% if(user.id !== tripCreator.id && !isAttending){ %>
                    <form action="/users/tripJoin/<%= tripData.id %>" method="post"><button type='submit'  class="btn btn-primary" >Join This Trip</button></form>
                    <% } %>
                </div>
            </div>
        </div>       
    </div>
        <div class='col-11 col-md-4 col-lg-3 profileCard'>
            <div class="card-profile-stats">
                <div class="card-profile-stats-intro">
                    <a class="card-profile-stats-intro-pic" href="../../users/userprofiles/<%= tripCreator.id %>">
                        <img class="card-profile-stats-intro-pic" src="<%= tripCreator.picture %>" alt="profile-image" />
                    </a>
                    <div class="card-profile-stats-intro-content">
                        <h6> This Trip Was Created By</h6>
                        <h6><%=tripCreator.first_name %> <%=tripCreator.last_name %></h6>
                    </div> <!-- /.card-profile-stats-intro-content -->
                </div> <!-- /.card-profile-stats-intro -->
                <hr />
            </div> <!-- /.card-profile-stats -->
        </div>
        <div class="col-11 col-lg-12 col-md-7 people-you-might-know" style='max-width: 90%'>
                <div class="add-people-header">
                <h6 class="header-title">
                    People Attending This Trip
                </h6>
                </div>
            <% tripAttendance.forEach((person, i) => { %>
                <div class="row add-people-section">
                <div class="small-12 medium-6 columns about-people">
                    <div class="about-people-avatar">
                        <a href="../../users/userprofiles/<%= person.id %>">
                            <img class="avatar-image" src="<%= person.picture %>" alt="<%=person.first_name %> <%=person.last_name %>">
                        </a>
                    </div>
                    <div class="about-people-author">
                    <p class="author-name">
                        <%=person.first_name %> <%=person.last_name %>
                    </p>
                    </div>    
                </div>
                </div>
                <% }) %>
            </div>
        </div>
<% include footer %>    
</body>